<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 配置扫描位置 -->
	<context:component-scan base-package="cn.ws.controller" />
	<context:component-scan base-package="cn.ws.biz" />


	<!-- 配置试图渲染器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />

		<!--结果试图的前缀和后缀 -->
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- 将静态文件指定到某个特殊的文件夹中统一处理 -->
	<mvc:annotation-driven />
	<mvc:resources mapping="/res/**" location="/resources/" />
	
	
		<!-- 定义需要特殊处理的异常，用类名或完全路径作为key，异常以页面位置 -->
	<!-- <bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				创建自己所需要自定义的异常类
				<prop key="wanshi.exception.UserException">/User_error.jsp</prop>
				还可以继续扩展对不同异常类型的处理
			</props>
		</property>
	</bean> -->


	<!-- 配置MultipartResolver，用于上传文件，使用spring的CommonsMultipartResolver -->
	<!-- <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="5000000" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean> -->


	<!-- 拦截器 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="wanshi.controller.LoginInterceptor" />
			<property name="allowedPass">
				<list>
					<value></value>
				</list>
			</property>
		</mvc:interceptor>
	</mvc:interceptors>
 -->
</beans>